<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Studify">
    <meta property="og:description" content="Studify">

    <title>Studify</title>
    <style>
        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
            padding: 12px;
        }

        li:last-child {
            border: none;
        }

        li {
            text-decoration: none;
            color: #000;
            display: block;

            -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
            -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
            -o-transition: font-size 0.3s ease, background-color 0.3s ease;
            -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
            transition: font-size 0.3s ease, background-color 0.3s ease;
        }

        li:hover {
            font-size: 30px;
            background: #f6f6f6;
        }
    </style>
</head>

<body>
    <h1>Studify</h1>
    <ul>
        <% data.forEach((i)=>{ %>
        <li>
            <img src=<%= i %> />
            <%= i.name %>
            의 최대 공부 시간 :
            <%= i.max_time %>
            초
        </li>
        <% }) %>
    </ul>
</body>

</html>