<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Studify">
    <meta property="og:description" content="Studify">

    <title>Studify</title>
    <style>
        body {
            background-color: rgba(238, 238, 238, 1);
        }
        h1 {
            text-align: left;
            margin: 80px;
        }

        ul {
            list-style-type: none;
            margin: 40px;
            padding: 0;
        }

        li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
            padding: 12px;
        }

        li:last-child {
            border: none;
        }

        li {
            text-decoration: none;
            color: #000;
            display: flex;

            -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
            -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
            -o-transition: font-size 0.3s ease, background-color 0.3s ease;
            -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
            transition: font-size 0.3s ease, background-color 0.3s ease;
        }

        li > img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        li > span {
            margin: auto 0 auto 8px;
        }

        li:hover {
            font-size: 30px;
            background: #f6f6f6;
        }
    </style>
</head>

<body>
    <h1>Studify</h1>
    <ul>
        <% data.forEach((i)=>{ %>
        <li>
            <img src=<%= i.profileURL %> />
            <span>
                <%= i.name %>
                 최대 공부 시간 :
                <%= i.max_time %>
                초
            </span>
            <br>
            <span>
                평균 공부시간 :
                <%= i.average_time %>
                초
            </span>
            
        </li>
        <% }) %>
    </ul>
</body>

</html>